body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  color:#333;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width:520px;
  overflow:hidden;
}

div.section {
  margin:0 0 0 0;
  padding: 0 0 0 0;
}

a {
  color:#3B5998;
  text-decoration:none;
}

a.light {
  color:gray;
}

a:hover {
  text-decoration:underline;
}
